* {
    font-family: 'Roboto', sans-serif;
}
 header{

    max-width: 1200px;
    min-height: 120px;
 }
 main{
    width: 75%;
 }
 aside{
    width: 25%;
    min-width: 200px;
    min-height: 400px;
 }
 footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;

 }

 .img{
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    float: left; /* Para alinear la imagen a la izquierda */
    margin-top: 6px;
}

h1{
    margin-left: 10px; /* Espacio entre la imagen y el título */
    float: left; /* Para alinear el título a la izquierda */
   font-size: 2.5;
   
}