* {
    font-family: 'Roboto', sans-serif;
}
 header{

    max-width: 1200px;
    min-height: 120px;
 }
 main{
    width: 75%;
 }
 aside{
    width: 25%;
    min-width: 200px;
    min-height: 400px;
 }
 footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;

 }

 .img{
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    float: left; 
    margin-top: 6px;
}
.noticiaimg{
    width: 600px;
    height: 400px;
    float: left; 
}

h1{
    margin-left: 10px; /* Espacio entre la imagen y el título */
    float: left; /* Para alinear el título a la izquierda */
   font-size: 2.5;
   
}

h3{
    font-size: 1.5em bold;
}

.contactos{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}
.infoCompania{
    max-height: 5em;
    display: flex;
    align-items: center;
    
}
.pNoticia{
    margin-left: 10px;
}







/* Estilo para el título */
aside h2 {
    margin: 0;
}

/* Estilo para la lista desordenada */
aside ul {
    list-style: none;
    padding: 0;
}

/* Estilo para los elementos de lista */
aside li {
    margin: 5px 0;
}

/* Estilo para los enlaces */
aside a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom-color 0.3s;
}

/* Estilo para los enlaces al pasar el mouse sobre ellos */
aside a:hover {
    color: #6490f5; /* Cambia el color del texto al pasar el mouse */
    
}
